body {
    width: 100%;
    color: #e5e5e5;
    background-color: #437F8C;
    padding: 0;
    margin: 0;

    font-family: Lato, sans-serif;
}

header {
    height: 20%;
}

.Hamburger {
    padding: 20px;
    width: 43px;
    height: 35px;
}

.Hamburger div {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        white,
        white 10%,
        transparent 10%,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%,
        transparent 90%,
        white 90%,
        white
    );
}

.Menu {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .Menu {
        flex-direction: column;
    }
}

.Menu button {
    width: 64%;

    font-size: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;

    background: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid white;
}

.Menu img {
    margin-top: auto;
    margin-bottom: 100px;

    width: 114px;
    height: 120px;
}

.Content {
    background-color: #f3f3f3;
}