body {
    width: 100%;
    color: white;
    background-color: #437F8C;
    padding: 0;
    margin: 0;

    font-family: Lato, sans-serif;
}

header {    
    z-index: 0;

    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

/* Mobile header */
@media only screen and (max-width: 900px) {
    header { 
        height: 180px;

        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
}

/* desktop header */
@media only screen and (min-width: 900px) {
    header { 
        height: 180px;

        align-items: center;
    }
}

header > a, img.Logo {
    width: 114px;
    height: 120px;
}

@media only screen and (min-width: 900px) {
    header > a {
        margin-left: 50px;
    }
}

/* Hamburger */

@media only screen and (min-width: 900px) {
    .Hamburger {
        display: none;
    }
}

.Hamburger {
    padding: 20px;
    width: 43px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

/* for mobile menu */
.Hamburger.fixed {
	position: fixed;
}

.Hamburger div {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        white,
        white 10%,
        transparent 10%,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%,
        transparent 90%,
        white 90%,
        white
    );
}

/* Menu */

.Menu {
    background-color: #437F8C;
    display: flex;
    z-index: 2;
}

@media only screen and (min-width: 900px) {
    .Menu {
        height: 100%;
        width: 100%;

        padding-right: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .Menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;

        background-color: #437F8C;
		
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;


        transition: transform 1s;
    }

    .Menu.hidden {
        transform: translateX(-100%);
    }
}

.Menu a {
    display: inline-block;
    width: 64%;
    height: auto;

    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;

    background: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
}

.Menu > a.Logo {
    border: none;
}

@media only screen and (min-width: 900px) {
    .Menu a { 
        height: 50px;
        max-width: 252px;
    }

    .Menu > a.Logo {
        order: -1;
        height: 120px;
    }
}

.Menu img {
    margin-bottom: 100px;
}

.Menu img.big {
    margin-bottom: 100px;

    width: 228px;
    height: 240px;
}

/* Between header and content */

h1 {
    font-size: 24px;
    text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

/* Pages other than about with title */
body > h1 {
    font-weight: normal;
    letter-spacing: 0.1em;
}
/* Hide the white headers on desktop */
@media only screen and (min-width: 900px) {
    body > h1 {
        display: none;
    }
}

body > h2 {
    font-weight: 400;
    line-height: 65px;
    padding-left: 25px;
    margin: 0;
}

/* Content */

.Content {
    background-color: #f3f3f3;
    padding: 25px;
    color: black;
    width: 100%;
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 320;
    overflow-wrap: break-word;
}

@media only screen and (min-width: 900px) {
    .Content {
        justify-content: center;
        align-items: center;
    }

    .Content h1 {
        text-align: left;
    }

    .Content h2 {
        text-align: left;
        color: #437F8C;
        font-weight: 500;
        margin-bottom: 50px;
    }
}

/* Index */

.Index {
    width: 100%;

    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.Index img {
    width: 400;
    height: 423px;
}

.Welcome {
    font-size: 24px;
    max-width: 40%;
}

.Welcome h1 {
    font-size: 38px;
    text-align: left;
}

/* About */

@media only screen and (max-width: 900px) {

    .Round {
        border-radius: 100%;
        width: 172px;
        height: 172px;
    }

    .Headshot {
        width: 100%;
        background: linear-gradient(
            #437F8C,
            #437F8C 50%,
            #f3f3f3 50%,
            #f3f3f3
        );

        display: flex;
        justify-content: center;
    }

}

@media only screen and (min-width: 900px) {
    .Content.About {
        display: flex;
    }

    .Content.About div {
        padding: 50px;
        max-width: 35%;
    }

    /* headshot */
    .Content.About img {
        height: 344px;
        width: 344px;
    }
}

/* Portfolio */

.Content.Portfolio {
    padding: 0;
    height: auto;
}

@media only screen and (min-width: 900px) {
    .Content.Portfolio {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

.Content.Portfolio div {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 900px) {
    .Content.Portfolio div {
        gap: 5px;
    }
}

@media only screen and (max-width: 900px) {
    .Content.Portfolio a {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .Content.Portfolio a {
        /* I want 4 in a row, but there are gaps */
        width: 20%;
        flex-grow: 2;
    }
}

.Content.Portfolio a img {
    width: 100%;
}

/* Specific portfolio project */

.Content.Project {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.Content.Project .ProjectHeader {
    width: 80%;
    padding-top: 67px;
}

.Content.Project .ProjectHeader a {
    font-size: 36px;
    color: #437F8C;
}

.Content.Project .ProjectHeader h2 {
    margin-top: 3px;
    font-size: 48px;
}

@media only screen and (min-width: 900px) {
    .Content.Project .half {
        width: 50%;
    }

	.Content.Project .half-right, .Content.Project .half-left {
	    width: 50%;
        box-sizing: border-box;
	}
		
    .Content.Project .half-right {	
		text-align: left;
        padding-left: 20px;
        padding-right: 90px;
    }

    .Content.Project .half-left {
        text-align: right;
        padding-left: 90px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .Content.Project .half-right, .Content.Project .half-left {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.Content.Project .row {
	display: flex;
	width: 100%;
}

@media only screen and (max-width: 900px) {
	.Content.Project .row {
		flex-wrap: wrap;
	}
	
	.Content.Project .row img {
		height: auto;
	}
}

@media only screen and (min-width: 900px) {
	.Content.Project .row img {
		max-height: 100%;
		min-width: 100%;
		object-fit: contain;
	}
}

.Content.Project img {
    width: 100%;
    height: 100%;
}



/* Contact */

.Content.Contact {
    font-size: 18px;
}
.Content.Contact h2 {
    margin: 0;
    font-size: 24px;
}
.Content.Contact p {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
}
.Content.Contact h3 {
    margin: 0;
    margin-top: 35px;
    font-size: 18px;
}

.Hero {
    display: flex;
    padding-top: 150px;
}

.Hero .left {
    text-align: right;
    width: 65%;
    border-right: 1px solid white;
    font-size: 36px;
    padding-right: 80px;
}

 .Hero .left * {
    text-align: right;
 }

.Hero h1 {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 0;
}

.Hero p {
    margin: 0;
}

.Hero .right {
    text-align: left;
    width: 35%;
    font-size: 18px;
    padding-left: 80px;

    display: flex;
    align-items: center;
}

/* Desktop vs mobile */
@media only screen and (max-width: 900px) {
    .desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 900px) {
    .mobile {
        display: none !important;
    }
}