body {
    width: 100%;
    color: #e5e5e5;
    background-color: #437F8C;
    padding: 0;
    margin: 0;

    font-family: Lato, sans-serif;
}

header {    
    z-index: 0;
    height: 30%;

    display: flex;
    gap: 20px;

    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
}

header h1 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 24px;
    text-align: center;
}

img.Logo {
    width: 114px;
    height: 120px;
}

.Hamburger {
    padding: 20px;
    width: 43px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.Hamburger div {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        white,
        white 10%,
        transparent 10%,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%,
        transparent 90%,
        white 90%,
        white
    );
}

.Menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    background-color: #437F8C;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    z-index: 20;
}

@media only screen and (max-width: 600px) {
    .Menu {
        flex-direction: column;
    }
}

.Menu a {
    display: inline-block;
    width: 64%;

    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;

    background: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
}

.Menu img {
    margin-bottom: 100px;
}

.Menu img.big {
    margin-bottom: 100px;

    width: 228px;
    height: 240px;
}

.Content {
    background-color: #f3f3f3;
    padding: 25px;
    color: black;

    font-size: 18px;
    font-weight: 320;
}

.hidden {
    display: none;
}

/* About */

.Content.Headshotted {
    padding-top: 140px;
}

.Headshot {
    width: 172px;
    height: 172px;
    border-radius: 100%;
}

/* Portfolio */
.Content.Portfolio {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Content.Portfolio img {
    width: 50%;
    flex: 50%;
}